In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
m = df % 3 == 0
print(m)
df
df.where(m, -df)

       A      B
0   True  False
1  False   True
2  False  False
3   True  False
4  False   True

   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9