# Reading foreign crime statistics

Foreign crime has repeatedly put forward by AfD as a major point against more immigration and may have been one of its major selling point in their electoral campaign. Here, data requested by email from the Federal Criminal Police Office (BKA, Germany). The data available online where are not discriminating between infractions against migration law and others in a consisten manner over the period 2012-2018. 

As the definition of the different types of migrants shifts over time, the information is not used. From 2016 to 2017 two regions, 3152, Göttingen and 3156, Osterode became one region, 3159, Göttingen.

In [1]:
import pandas as pd

file = 'BKA_email_2018.xlsx'
bka_df_2018 = pd.read_excel(file, header = [1,2,3], skiprows=[0,1,2,3,4])
bka_df_2018 = bka_df_2018.dropna()

# skipping those lines where the total of crimes including those against migration are included
without_migration_law = bka_df_2018.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2018 = bka_df_2018[without_migration_law]

# getting the column containing regional key and percentage of foreign crime
bka_df_2018 = bka_df_2018.iloc[:,[2,5,6,7]]
bka_df_2018.columns = ['region', 'total_suspects_2018','foreign_suspects_2018','f_crime_2018']
bka_df_2018 = bka_df_2018.set_index('region')
display(bka_df_2018.head())
print('Shape:', bka_df_2018.shape)

        total_suspects_2018  foreign_suspects_2018  f_crime_2018
region
1001.0                  235                     87          37.0
1002.0                  479                    145          30.3
1003.0                  525                    133          25.3
1004.0                  293                    122          41.6
1051.0                  167                     45          26.9

Shape: (401, 3)

In [2]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2017 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2017'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10,11])
without_migration_law = bka_df_2017.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2017 = bka_df_2017[without_migration_law] 

bka_df_2017 = bka_df_2017.iloc[:,[2,5,6,7]]
bka_df_2017.columns = ['region', 'total_suspects_2017','foreign_suspects_2017','f_crime_2017']
bka_df_2017 = bka_df_2017.set_index('region')
display(bka_df_2017.head())
print(bka_df_2017.shape)

        total_suspects_2017  foreign_suspects_2017  f_crime_2017
region
1001                    280                     97          34.6
1002                    487                    164          33.7
1003                    621                    163          26.2
1004                    254                     86          33.9
1051                    176                     31          17.6

(401, 3)

In [3]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2016 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2016'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10])
without_migration_law = bka_df_2016.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2016 = bka_df_2016[without_migration_law] 

bka_df_2016 = bka_df_2016.iloc[:,[2,5,6,7]]
bka_df_2016.columns = ['region', 'total_suspects_2016','foreign_suspects_2016','f_crime_2016']
bka_df_2016 = bka_df_2016.set_index('region')

for_susp_goett = (bka_df_2016.loc[3152,'foreign_suspects_2016']+bka_df_2016.loc[3156,'foreign_suspects_2016'])
tot_susp_goett =(bka_df_2016.loc[3152,'total_suspects_2016']+bka_df_2016.loc[3156,'total_suspects_2016'])
bka_df_2016.loc[3159,'f_crime_2016'] = for_susp_goett/tot_susp_goett*100
bka_df_2016.loc[3159,'foreign_suspects_2016'] = for_susp_goett
bka_df_2016.loc[3159,'total_suspects_2016'] = tot_susp_goett

bka_df_2016 = bka_df_2016.drop([3152,3156])

display(bka_df_2016.head())

print(bka_df_2016.shape)

        total_suspects_2016  foreign_suspects_2016  f_crime_2016
region
1001                  246.0                   70.0          28.5
1002                  443.0                  143.0          32.3
1003                  640.0                  172.0          26.9
1004                  240.0                  103.0          42.9
1051                  196.0                   56.0          28.6

(401, 3)

In [4]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2015 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2015'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10])
without_migration_law = bka_df_2015.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2015 = bka_df_2015[without_migration_law] 

bka_df_2015 = bka_df_2015.iloc[:,[2,5,6,7]]
bka_df_2015.columns = ['region', 'total_suspects_2015','foreign_suspects_2015','f_crime_2015']
bka_df_2015 = bka_df_2015.set_index('region')

for_susp_goett = (bka_df_2015.loc[3152,'foreign_suspects_2015']+bka_df_2015.loc[3156,'foreign_suspects_2015'])
tot_susp_goett =(bka_df_2015.loc[3152,'total_suspects_2015']+bka_df_2015.loc[3156,'total_suspects_2015'])
bka_df_2015.loc[3159,'f_crime_2015'] = for_susp_goett/tot_susp_goett*100
bka_df_2015.loc[3159,'foreign_suspects_2015'] = for_susp_goett
bka_df_2015.loc[3159,'total_suspects_2015'] = tot_susp_goett
bka_df_2015 = bka_df_2015.drop([3152,3156])

display(bka_df_2015.head())

print(bka_df_2015.shape)

        total_suspects_2015  foreign_suspects_2015  f_crime_2015
region
1001                  243.0                   79.0          32.5
1002                  484.0                  128.0          26.4
1003                  518.0                  121.0          23.4
1004                  256.0                   81.0          31.6
1051                  172.0                   21.0          12.2

(401, 3)

In [5]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2014 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2014'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10])
without_migration_law = bka_df_2014.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2014 = bka_df_2014[without_migration_law] 

bka_df_2014 = bka_df_2014.iloc[:,[2,5,6,7]]
bka_df_2014.columns = ['region', 'total_suspects_2014','foreign_suspects_2014','f_crime_2014']
bka_df_2014 = bka_df_2014.set_index('region')

for_susp_goett = (bka_df_2014.loc[3152,'foreign_suspects_2014']+bka_df_2014.loc[3156,'foreign_suspects_2014'])
tot_susp_goett =(bka_df_2014.loc[3152,'total_suspects_2014']+bka_df_2014.loc[3156,'total_suspects_2014'])
bka_df_2014.loc[3159,'f_crime_2014'] = for_susp_goett/tot_susp_goett*100
bka_df_2014.loc[3159,'foreign_suspects_2014'] = for_susp_goett
bka_df_2014.loc[3159,'total_suspects_2014'] = tot_susp_goett
bka_df_2014 = bka_df_2014.drop([3152,3156])

display(bka_df_2014.head())

print(bka_df_2014.shape)

        total_suspects_2014  foreign_suspects_2014  f_crime_2014
region
1001                  233.0                   66.0          28.3
1002                  463.0                   80.0          17.3
1003                  512.0                  109.0          21.3
1004                  241.0                   59.0          24.5
1051                  167.0                   19.0          11.4

(401, 3)

In [6]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2013 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2013'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10])
without_migration_law = bka_df_2013.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2013 = bka_df_2013[without_migration_law] 

bka_df_2013 = bka_df_2013.iloc[:,[2,5,6,7]]
bka_df_2013.columns = ['region', 'total_suspects_2013','foreign_suspects_2013','f_crime_2013']
bka_df_2013 = bka_df_2013.set_index('region')

for_susp_goett = (bka_df_2013.loc[3152,'foreign_suspects_2013']+bka_df_2013.loc[3156,'foreign_suspects_2013'])
tot_susp_goett =(bka_df_2013.loc[3152,'total_suspects_2013']+bka_df_2013.loc[3156,'total_suspects_2013'])
bka_df_2013.loc[3159,'f_crime_2013'] = for_susp_goett/tot_susp_goett*100
bka_df_2013.loc[3159,'foreign_suspects_2013'] = for_susp_goett
bka_df_2013.loc[3159,'total_suspects_2013'] = tot_susp_goett
bka_df_2013 = bka_df_2013.drop([3152,3156])

display(bka_df_2013.head())

print(bka_df_2013.shape)

        total_suspects_2013  foreign_suspects_2013  f_crime_2013
region
1001                  207.0                   45.0          21.7
1002                  439.0                  113.0          25.7
1003                  509.0                   85.0          16.7
1004                  241.0                   54.0          22.4
1051                  151.0                   25.0          16.6

(401, 3)

In [7]:
file = 'BKA_email_2017-2012.xlsx'
bka_df_2012 = pd.read_excel(file,
                       sheet_name='Tab61_Kreise_ausgew. SZ 2012'
                       #, header = [1,2,3,4]
                       , skiprows=[0,1,2,3,4,5,6,7,8,9,10]
                       , skipfooter=4)

without_migration_law = bka_df_2012.iloc[:,1].str.contains('ohne Verstöße')#,:]
bka_df_2012 = bka_df_2012[without_migration_law] 

bka_df_2012 = bka_df_2012.iloc[:,[2,5,6,7]]
bka_df_2012.columns = ['region', 'total_suspects_2012','foreign_suspects_2012','f_crime_2012']
bka_df_2012 = bka_df_2012.set_index('region')

for_susp_goett = (bka_df_2012.loc[3152,'foreign_suspects_2012']+bka_df_2012.loc[3156,'foreign_suspects_2012'])
tot_susp_goett =(bka_df_2012.loc[3152,'total_suspects_2012']+bka_df_2012.loc[3156,'total_suspects_2012'])
bka_df_2012.loc[3159,'f_crime_2012'] = for_susp_goett/tot_susp_goett*100
bka_df_2012.loc[3159,'foreign_suspects_2012'] = for_susp_goett
bka_df_2012.loc[3159,'total_suspects_2012'] = tot_susp_goett
bka_df_2012 = bka_df_2012.drop([3152,3156])

display(bka_df_2012.head())

print(bka_df_2012.shape)

        total_suspects_2012  foreign_suspects_2012  f_crime_2012
region
1001                  277.0                   42.0          15.2
1002                  490.0                   95.0          19.4
1003                  526.0                  101.0          19.2
1004                  247.0                   45.0          18.2
1051                  227.0                   23.0          10.1

(401, 3)

In [8]:
bka_df = bka_df_2018.merge(bka_df_2017,on='region').merge(bka_df_2016,on='region').merge(bka_df_2015,on='region')
bka_df = bka_df.merge(bka_df_2014,on='region').merge(bka_df_2013,on='region').merge(bka_df_2012,on='region')
print(bka_df.columns)
print('shape: ', bka_df.shape)
bka_df.head()

Index(['total_suspects_2018', 'foreign_suspects_2018', 'f_crime_2018',
       'total_suspects_2017', 'foreign_suspects_2017', 'f_crime_2017',
       'total_suspects_2016', 'foreign_suspects_2016', 'f_crime_2016',
       'total_suspects_2015', 'foreign_suspects_2015', 'f_crime_2015',
       'total_suspects_2014', 'foreign_suspects_2014', 'f_crime_2014',
       'total_suspects_2013', 'foreign_suspects_2013', 'f_crime_2013',
       'total_suspects_2012', 'foreign_suspects_2012', 'f_crime_2012'],
      dtype='object')
shape:  (401, 21)

,total_suspects_2018,foreign_suspects_2018,f_crime_2018,total_suspects_2017,foreign_suspects_2017,f_crime_2017,total_suspects_2016,foreign_suspects_2016,f_crime_2016,total_suspects_2015,...,f_crime_2015,total_suspects_2014,foreign_suspects_2014,f_crime_2014,total_suspects_2013,foreign_suspects_2013,f_crime_2013,total_suspects_2012,foreign_suspects_2012,f_crime_2012
region,,,,,,,,,,,,,,,,,,,,,
1001.0,235,87,37.0,280,97,34.6,246.0,70.0,28.5,243.0,...,32.5,233.0,66.0,28.3,207.0,45.0,21.7,277.0,42.0,15.2
1002.0,479,145,30.3,487,164,33.7,443.0,143.0,32.3,484.0,...,26.4,463.0,80.0,17.3,439.0,113.0,25.7,490.0,95.0,19.4
1003.0,525,133,25.3,621,163,26.2,640.0,172.0,26.9,518.0,...,23.4,512.0,109.0,21.3,509.0,85.0,16.7,526.0,101.0,19.2
1004.0,293,122,41.6,254,86,33.9,240.0,103.0,42.9,256.0,...,31.6,241.0,59.0,24.5,241.0,54.0,22.4,247.0,45.0,18.2
1051.0,167,45,26.9,176,31,17.6,196.0,56.0,28.6,172.0,...,12.2,167.0,19.0,11.4,151.0,25.0,16.6,227.0,23.0,10.1

In [9]:
bka_df.to_csv('bka.csv')

In [10]:
beschreibung=['Anzahl Tatverdächtiger insgesamt'
              ,'Anzahl ausländischer Tatverdächtiger insgesamt'
              ,'Prozentualer Anteil ausländischer Tatverdächtiger an allen Tatverdächtigen']*7

jahr = [b for b in [a for a in range(2018,2011,-1)] for i in range(3)]
jahr = [str(a) for a in jahr]
beschreibung = [a+' '+b for a,b in zip(beschreibung,jahr)]
len(beschreibung)


description=['Number of Suspects'
            ,'Number of foreign Suspects'
            ,'Percentage share of foreign suspects of all suspects']*7
description = [a+' '+b for a,b in zip(description,jahr)]
del(jahr)
bka_variable_description = pd.DataFrame({'Variable':list(bka_df.columns)
                                        ,'Beschreibung':beschreibung
                                        ,'Description':description
                                        ,'Quelle':'Bundeskriminalamt, Emailanfrage, September 2019'
                                        ,'Source':'Federal Criminal Police Office (BKA, Germany)'
                                        })
del(description, beschreibung)
bka_variable_description.to_csv('bka_variable_description.csv',sep=';',index=False)

In [11]:
# check if Goettingen is entered correctly for 2016
bka_df_2016.loc[3159]

total_suspects_2016      605.000000
foreign_suspects_2016    179.000000
f_crime_2016              29.586777
Name: 3159, dtype: float64